<style>
#experience{
    display: table;
    width: 100%;
    height: 400px;
    color: #fff;
    background-image:url(images/div2.jpg);
    -webkit-background-size:cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;}


</style>
